<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><center><%= Spree.t :powered_by  %> <%= link_to 'Mudassar', 'http://google.com/', :target => "_blank" %><center></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>